server {
        listen 80;
        server_name ocsp.gob.sv;

        root /usr/share/nginx/html;
        index index.html index.htm;

        location / {
		limit_except POST {
                 deny  all;
		}
		proxy_pass       http://localhost:8889;	
        }
}
