[Unit]
Description=Servidor Jetty9 de X-Road 
After=network.target

[Service]
User=xroad
Group=xroad
ExecStart=/usr/bin/xroad-jetty9
Restart=on-failure
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
Alias=xroad-jetty.service
