server {
    listen 80; 
    server_name ca.gob.sv;

    root  /var/www/html/;
    index index.html index.htm;

    location /ca/ {
        limit_except GET HEAD POST {
            deny all;
        }
        client_max_body_size 10k;
        proxy_pass  http://127.0.0.1:9998;
    }
}
